.login-form {
    max-width: 350px;
    margin-top: 50px;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #555;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
 }

.email{
    margin-bottom: 12px;
}

.btn{
    width: 100%;
    height: 45px;
}

.button{
    text-align: center;
}

 .logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
     width: 90%;
     margin-bottom: 30px;
 }

 .text-center{
     margin-top: 5px;
 }
 